{{#if controlWrapper}}
    <div class="{{controlWrapper}}">
        {{view controlView viewName=controlViewName property=propertyName id=cid}}
    </div>
{{else}}
    {{#if addonIcon}}
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-{{addonIcon}}"></i></span>
        {{view controlView viewName=controlViewName property=propertyName id=cid}}
      </div>
    {{else}}
      {{view controlView viewName=controlViewName property=propertyName id=cid}}
    {{/if}}
{{/if}}
